<%- include('header')%>

        <h4 class="alert alert-success text-center">Add New Password Category </h4>
        <form action="/passwordCategory/edit" method="POST">
            <input type="hidden" name="id" value="<%= id %>">
          <% if(errors !=''){%>
            <p class="badge badge-danger offset-md-4"><%=errors.passwordCategory.msg %></p> 
          <%}%>

          <% if(success !=''){%>
            <p class="badge badge-success offset-md-4"><%=success %></p> 
          <%}%>
          
            <div class="row">
              <div class="col-md-4 offset-md-4">
                  <label class="badge badge-pill badge-primary">Add Category</label>
                <input type="text" 
                        class="form-control"
                        name="passwordCategory"
                        value="<%=records.password_category%>"
                        placeholder="Add Category">
              </div>
            
            </div>
            <div class="col-md-4 offset-md-4 mt-4">
                <label></label>
                <button type="submit" class="btn btn-outline-success btn-sm">Update</button>
            </div>
            <div class="col-md-4 offset-md-4 mt-4">
              <label></label>
              <a href="/passwordCategory"  class="badge badge-warning">View All Category List</a>
          </div>
          </form>
         
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>