<%- include('header')%>

   
<div class="container">
    <h1 class="text-info">Password Category Listing</h1>
    <p>Welcome to <%= title %></p>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Password Category Name</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <% if(records.length >0){
          records.forEach(function(row){
            %>
        <tr>
          <td><%= row.password_category %></td>
          
          <td><a class="btn btn-primary btn-xs" href="passwordCategory/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger btn-xs" href="passwordCategory/delete/<%= row._id %>"><i class="fa fa-trash"></i></a>
          </td>

        </tr>
        <% }) } %>

        
      </tbody>
      
      </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>